.logo {
  height: 100px;
  cursor: pointer;
  margin-top: 20px;
}

.subtitle {
  font-style: italic;
  font-size: x-large;
  color: coral;
}

.themeFontColor {
  color: coral;
}

tr {
  cursor: pointer;
}

.cart {
  height: 50px;
  cursor: pointer;
  margin-top: 40px;
}

.productImage {
  height: 40px;
  width: 40px;
}
